header.cluster {
  --justify: space-between;
  padding: var(--s1);
  width: 100%;
  z-index: 2;
  background-color: var(--white);
}

header.inverted {
  background-color: transparent;
}

header * {
  color: var(--dark-blue);
}

header .logo-link {
  margin-right: var(--s2);
}
