article.text-card {
  max-width: 500px;
}

article.text-card a {
  font-family: var(--font-display);
  font-size: var(--s0);
  text-transform: uppercase;
  color: var(--dark-blue);
  text-decoration: none;
  background-image: linear-gradient(var(--yellow), var(--yellow));
  background-repeat: no-repeat;
  background-size: 100% var(--s-2);
  background-position: 0 95%;
}

article.text-card a:hover {
  background-image: linear-gradient(var(--red), var(--red));
}
