:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-green: hsl(167, 40%, 24%);
  --green: hsl(168, 34%, 41%);
  --dark-blue: hsl(212, 27%, 19%);
  --blue: hsl(198, 62%, 26%);
  --dark-gray: hsl(213, 9%, 39%);
  --gray: hsl(232, 10%, 55%);
  --light-gray: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --sky: 	hsl(200, 100%, 62%);
  --light-sky: 	hsl(200, 100%, 82%);
}
