@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
  --font-display:'Fraunces', serif;
  --font-normal: 'Barlow', sans-serif;
}

* {
  font-family: var(--font-normal);
}

h1, h2, h3 {
  font-family: var(--font-display);
}

h1 {
  font-size: clamp(var(--s2), 4vw, var(--s3));
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}
