@import "fonts.css";
@import "colors.css";
@import "scale.css";
@import "reset.css";
@import "base.css";
@import "box.css";
@import "stack.css";
@import "center.css";
@import "cluster.css";
@import "sidebar.css";
@import "switcher.css";
@import "cover.css";
@import "grid.css";
@import "icon.css";
@import "frame.css";
@import "reel.css";
@import "imposter.css";
@import "components.css";
@import "mobile.css";

h1 {
  font-weight: 900;
}

h2 {
  color: var(--dark-blue);
  letter-spacing: -0.29px;
  font-weight: 900;
}

p {
  color: var(--gray);
}

p,
a {
  letter-spacing: -0.13px;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .Egg {
    grid-row: 1;
  }

  .Cup {
    grid-row: 3;
  }

  .text-card {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
    text-align: center;
  }

  article.text-card {
    min-height: 40vh;
    justify-content: center;
  }

  section.gallery {
    display: grid;
    --columns: 2;
    --rows: 2;
  }
}
